#headerContainer {
  padding-top: 60px;
  display:flex;
  justify-content:space-around;
  margin: 0 auto;
  height: 15rem;
  box-shadow: 0px 0px 10px 0px black;
}
.headerText{
  font-size: clamp(1.5rem, 2.5vw, 3rem);
}
.userInfo {
  display:flex;
  align-items:center;
}

.userInfo > div {
  flex: 1 1 auto;
  text-align: center;
  margin: 5px;
}

.user-icon {
  height: clamp(4rem, 6vw, 80px);
  width: clamp(4rem, 6vw, 80px);
}

.user-title {
  font-size: clamp(1rem, 1.5vw, 2rem);
}

.votingDisabledNotification {
  display: flex;
  justify-content: center;
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
}
.tileContainer {display:flex;}

.tile {
  border-radius: 10px;
  padding: 1rem;
  margin: auto;
  margin-top: 1rem;
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
}

.highResContainer {
  display: flex;
  margin-top: 1rem;
}
.lowResContainer {
  display: none;
  padding-top: 1rem;
}

.notification {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 100px;
  right: -300px;
  z-index: 1;
}
.notification.show {
  right: 10px;
  animation: movein 0.5s ease forwards, moveout 0.5s 3s ease forwards;
}

@keyframes movein {
  from { right: -300px; }
  to   { right: 10px; }
}

@keyframes moveout {
  from { right: 10px; }
  to   { right: -300px; }
}

@keyframes stay {
  from { right: 10px; }
  to   { right: 10px; }
}

.user-vote-page__banner {
  margin-top: 6rem;
  padding-top: 6rem;
  padding-bottom: 3rem;
  background-color: #f4f4f4;
}

.user-vote-page__r1 {padding-top: 5rem;}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

// Firefox < 16
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

//Safari, Chrome and Opera > 12.1
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#votingCriteriaContainer {
  display: block;
  width: 95vw;
}

#votingCriteriaImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60vw;
  min-width: 325px;
  height: auto;
}

.dropdownContainer {
  width: 100%;
  display: none;}

@media screen and (max-width:750px) and (min-width:1px) {
  .highResContainer{display: none;}
  .lowResContainer{display: block;}
  .tile{width:500px}
}