.notificationPanel{
    height: 95vh;
    width: 16rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
/* make notification panel scroll bar invisible while still allowing scrolling */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.panelNotification{
    padding-bottom: 5%;
}