.registrationpage__r1 {margin-top: $spacing-07;}

.registration-page__banner {
  padding: 5rem 0rem 0rem 4rem;
  height: 12rem;
  width: 100%;
  background-color: #f4f4f4;
  box-shadow: 0px 0px 10px 0px black;
}
  
.registrationFormContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.registrationFormItem {
  margin-bottom: 2rem;
}