
.vote-dashboard-page {
  overflow-x: hidden;
}

.vote-dashboard-page__banner {
  display: flex;
  justify-content: space-between;
  padding: $spacing-05 $spacing-05 $spacing-07 * 2 $spacing-05;
  background-color: #f4f4f4;
}

.vote-dashboard-page__r1 {
  padding-top: $spacing-05;
}
.vote-dashboard-page__r2 {
  padding-top: $spacing-05;
}
.vote-dashboard-page__r3 {
  padding-top: $spacing-05;
}
.vote-dashboard-page__r4 {
  padding-top: $spacing-05;
}
.ideaNameAndToggle{
  display: flex;
  justify-content: space-between;
}

.vote-dashboard-page-voter-list {
  height:48vh;
  overflow:scroll;
  display:flex;
  flex: 1 1 auto;
  flex-wrap:wrap;
  justify-content: start;
  gap:1%;
}

.officeTile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.office-icon {
  max-height: 60px;
  max-width: 60px;
}

#office-icon-div{
  height: 60px;
  width: 60px;
}
#office-name-div {margin-top: -0.5rem;}
.reconnectButton {
  cursor: pointer;
  border: none;
  margin-top: 10%;  
  margin-left:10%;
  height:70%;
  width: 90%;
  background-color: transparent;
}
.navControls {
  background-color: #f4f4f4;
  position: absolute;
  width: 93%;
  margin-right: auto;
  margin-left: auto; 
  bottom: 0px;
  display:flex;
  justify-content:space-between;
  align-items: center;
}