
.vote-dashboard-page {
  overflow-x: hidden;
}

.vote-dashboard-page__banner {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #f4f4f4;
}

.vote-dashboard-page__heading {
  font-size:clamp(2rem, 3vw, 10rem);
}

.ideaTitle {
  font-size:clamp(1.5rem, 2.75vw, 10rem);
  font-weight:bold;
  padding-left: 1rem;
}

.vote-dashboard-page__row {padding-top: 1rem;}

.headingToolBar {
  padding:clamp(0rem, 1vw, 1rem);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px black;
}

.votingToggle {
  display:flex;
  justify-content:end;
  margin:1rem 3rem 0rem 0rem;
}

.remainingVoters{
  font-size: clamp(1rem, 1.25vw, 1.5rem);
  margin-top: 0.5rem;
}
.ideaName{
  display: flex;
  justify-content: space-between;
}

.vote-dashboard-page-voter-list {
  padding: 0.5rem;
  height:55vh;
  overflow:scroll;
  display:flex;
  flex-wrap:wrap;
  gap:1rem;
}

.officeTile {
  border-radius: 0.75rem;
  box-shadow: 5px 5px 5px 0px darkgray;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:8rem;
  width:8rem;
}

.office-icon {
  max-height: 60px;
  max-width: 60px;
}

#office-icon-div{
  height: 60px;
  width: 60px;
}
#office-name-div {margin-top: -0.5rem;}
.reconnectButton {
  cursor: pointer;
  border: none;
  margin-top: 10%;  
  margin-left:10%;
  height:70%;
  width: 90%;
  background-color: transparent;
}
.navControls {
  background-color: #f4f4f4;
  position: fixed;
  bottom: 0;
  width: 93vw;
  margin-right: 3rem;
  margin-left: auto; 
  display:flex;
  justify-content:space-evenly;
  align-items: center;
}

// @media screen and (max-width:1000px) and (min-width:1px) {
//   .navControls{margin-left: 0rem;}
// }